#
#

#Repo name 
BORG_REPO_FOLDERPATH = /run/media/ricksanchez/Borg/Borg-Backup/
BORG_REPO_RANDOM = yes

#Repo Passphrase
# UNCOMMENT THE CHOICE
# * for set the passphase without any security
#BORG_PASSPHRASE = 'XYZl0ngandsecurepa_55_phrasea&&123'
#
# * for use an stream to generate the password and nothing
#BORG_PASSPHRASE_FROM = 'from-stream'
#BORG_PASSPHRASE_GENERATOR = /dev/urandom
#BORG_PASSPHRASE_LEN_MIN = 24
#BORG_PASSPHRASE_LEN_MAX = 80
#
# * for use an stream to generate the password and nothing
#BORG_PASSPHRASE_FROM = 'generate-by-command'
#BORG_PASSPHRASE_GENERATOR = "echo $(pwgen -syn 80 1)"
